<section class="section section-comments">
  <div class="container flag-card">
    <div class="card center country our-grey hoverable">
      <div class="pt-1">
        <h5>Member Countries</h5>
      </div>
      <div class="flex-container mt-3">
        <div class="flag-container"><img class="responsive-img" src="../../../assets/nigeria-flag-small.jpg" alt="nigerian flag"></div>
        <div class="flag-container"><img class="responsive-img" src="../../../assets/tanzania-flag-small.jpg" alt="tanzania-flag"></div>
        <div class="flag-container"><img class="responsive-img" src="../../../assets/uganda-flag-small.jpg" alt="uganda flag"></div>
        <div class="flag-container"><img class="responsive-img" src="../../../assets/zimbabwe-flag-small.jpg" alt="zimbabwe flag"></div>
        <div class="flag-container"><img class="responsive-img" src="../../../assets/kenya-flag-small.jpg" alt="kenya flag"></div>
      </div>
    </div>
  </div>
  <div class="card hoverable comment-card">
    <div class="card-panel our-blue center">
      <h4>What Our Clients Say About Us</h4>
      <div class="card-content white-text">
        <div class="row">
          <div class="col s12 m6" *ngFor="let comment of comments">
            <div class="container">
              <h5 class="black-text">
                {{comment.name | uppercase}}
              </h5>
              <h6 class="flow-text our-silver-text">
                <i class="material-icons white-text">
                  format_quote
                </i>
                {{comment.body}}
                <i class="material-icons white-text">
                  format_quote
                </i>
              </h6>
              <small class="yellow-text"> {{comment.email}} </small>
            </div>
          </div>
        </div>
      </div>
      <div class="center">
        <a [routerLink]="['/contactus']" routerLinkActive="router-link-active" class="btn mt-2 yellow rounded black-text">
          Work With Us
        </a>
      </div>
    </div>
  </div>
</section>