header{
    min-height: 70vh;
    background-color: #385b92;
    position: relative;
    z-index: 1;
}
.header-text{
    margin-top: 6rem;
}
.text-group{
    font-family:'Muli', sans-serif;
}
.nav-container{
    margin-left: 5%;
    margin-right: 5%;
}
.mr-2{
    margin-right: 2rem;
}
.my-image-down{
    position: absolute;
    top: 0;
    left: 12rem;
    height: 70vh;
 z-index: -1;
}
.my-image-up{
z-index: 1;
position: relative;
top: 4.5rem;
}
nav.transparent {
    box-shadow: none;
}